/* 
  card::before: z-5
  cardFrontImage: z-2
  cardBackImage: z-1 // 추가이미지
  overlay: z-4
*/

// 카드 디자인
.card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  width: 330px;
  height: 460px;
  box-shadow: 0 0 3px -1px transparent,
    0 0 2px 1px transparent,
    0 0 5px 0px transparent,
    0px 10px 20px -5px black,
    0 2px 15px -5px black,
    0 0 20px 0px transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 5;
  }
}

.cardFrontImage {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff,
    0 0 350px #fff;
  z-index: 4;
  opacity: 0.6;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    filter: blur(40px);
  }
}

.cardBackImageBox {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.cardBackImage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

// 카드 warp 공통
.cardBackImgWrap {
  .title {
    font-family: 'GangwonEduPowerExtraBoldA','Giants-Inline',  sans-serif;
    position: absolute;
    width: 100%;
    font-size: 24px;
    color: black;
    z-index: 4;
  }
  .desc {
    font-family: 'GangwonEduPowerExtraBoldA', sans-serif;
    position: absolute;
    width: 100%;
    font-size: 18px;
    color: black;
    white-space: pre;
    z-index: 4;
  }
}

// 카드 각각 디자인
.cardBackImageYellowWrap {
  .cardBackImageBox {
    margin-top: 44px;
    margin-left: 28px;
    width: calc(100% - 28px);
    height: calc(50% - 44px);
  }
  .title {
    width: calc(100% - 28px);
    right: 0;
    top: 26px;
    padding-right: 20px;
    letter-spacing: -1px;
  }
  .desc {
    width: calc(100% - 28px);
    right: 0;
    top: 50%;
    padding: 30px;
  }
}

.cardBackImageBlueWrap {
  .cardBackImageBox {
    margin: 48px 24px 0;
    width: calc(100% - 48px);
    height: calc(50% - 38px);
  }
  .title {
    left: 0;
    top: 32px;
    text-align: center;
    padding: 0 30px;
  }
  .desc {
    left: 0;
    top: 50%;
    padding: 30px 40px;
  }
}

.cardBackImageWhiteWrap {
  .cardBackImageBox {
    margin: 58px 24px 0;
    width: calc(100% - 48px);
    height: calc(50% - 38px);
  }
  .title {
    left: 0;
    top: 40px;
    text-align: center;
    padding: 0 30px;
  }
  .desc {
    left: 0;
    top: 50%;
    padding: 40px;
  }
}

.cardBackImageFullWrap {
  .cardBackImageBox {
    margin: 48px 10px;
    width: calc(100% - 20px);
    height: calc(100% - 96px);
  }
  .title {
    left: 10px;
    top: 76px;
    padding: 0 20px;
  }
  .desc {
   display: none !important;
  }
}
.cardBackImageSilverWrap {
  .cardBackImageBox {
    margin: 44px 24px 0;
    width: calc(100% - 48px);
    height: calc(50% - 10px);
  }
  .title {
    left: 0;
    top: 36px;
    text-align: center;
    padding: 0 30px;
  }
  .desc {
    left: 0;
    bottom: 46px;
    padding: 30px;
    width: 100%;
    p{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}